
html {
  overflow-y: scroll;
}

body {	
  background: #FFFFFF; 
  color: #000000; 
  font-family: Helvetica, sans-serif; 
  font-weight: normal;
  font-size: 14px;
  list-style: outside;
}

a.navbar:link {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

a.navbar:visited {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

a.navbar:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: normal;
  font-size: 20px;
}

b { 
  font-weight: bold; 
}

em {
  font-style: oblique;
}

h1 {    
  font-size: x-large;
  font-weight: bold; 
  font-style: oblique; 
}

h2 { 
  font-size: x-large; 
  font-weight: bold;
}

h3 { 
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

h4 { 
  font-size: large;
  font-weight: normal; 
}

img {
  border: none;
}
